{{ partial "header" . }}
    
<div><a href="javascript:history.back()" class="back-button"><i class="fi-ctllxm-chevron"></i></a></div>
<br>

{{ $news := (.RelPermalink | path.Base) }}
{{ with (.Site.GetPage (path.Join "/news" $news)) }}
<h2>{{ .Params.title | markdownify }} </h2>
<h3>{{ .Params.blurb | markdownify }} </h3>

<br>
<div class="text-justify">{{ .Content }}</div>

{{ with .Params.link_to_photo }}
<div><img style="width: 100%;" src="../{{ . }}" /></div>
{{ end }}
{{ end }}

{{ partial "footer.html" . }}
