{{ $lab := $.Scratch.Get "lab" }}
{{ $localscratch := newScratch }}

{{ if (eq $lab "cbl") }}
{{ $localscratch.Set "news_url" "/news" }}
{{ else }}
{{ $localscratch.Set "news_url" (printf "/%s/news" $lab) }}
{{ end }}
{{ $news := $localscratch.Get "news_url"}}
<div class="news">
    <h2>Recent updates <a style="color: #aaa;" href={{ $news }}>(see all)</a></h2>
    {{ with (.Site.GetPage "/news") }}
    <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "autoPlay": true, "adaptiveHeight": true, "initialIndex": 1, "pageDots": false }'>
    <!-- pinned -->
    {{ range (where (where (where .Data.Pages "Section" "news") "Params.pinned" true) "Params.labs" "intersect" (slice $lab)) }}
    {{ partial "list-item-news" (dict "context" . "lab" $lab) }}
    {{ end }}
    <!-- not pinned -->
    {{ range first 10 (where (where (where .Data.Pages "Section" "news") "Params.pinned" false) "Params.labs" "intersect" (slice $lab)) }}
    {{ partial "list-item-news" (dict "context" . "lab" $lab) }}
    {{ end }}
    </div>
    {{ end }}
</div>