{{ partial "header" . }}

{{ $lab := $.Scratch.Get "lab" }}
{{ with .Site.GetPage "/publications" }}
<h1>{{ .Title }}</h1>
{{ $articles := ((((where (where .Pages "Params.labs" "intersect" (slice $lab)) "Params.type" "journal").ByParam "date").Reverse).ByParam "year").Reverse }}
{{ $preprints := ((((where (where .Pages "Params.labs" "intersect" (slice $lab)) "Params.type" "preprint").ByParam "date").Reverse).ByParam "year").Reverse }}
{{ $rconfs := ((((where (where .Pages "Params.labs" "intersect" (slice $lab)) "Params.type" "rconf").ByParam "date").Reverse).ByParam "year").Reverse }}
{{ $uconfs := ((((where (where .Pages "Params.labs" "intersect" (slice $lab)) "Params.type" "uconf").ByParam "date").Reverse).ByParam "year").Reverse }}
{{ $workshops := ((((where (where .Pages "Params.labs" "intersect" (slice $lab)) "Params.type" "workshop").ByParam "date").Reverse).ByParam "year").Reverse }}
{{ $thesis := ((((where (where .Pages "Params.labs" "intersect" (slice $lab)) "Params.type" "thesis").ByParam "date").Reverse).ByParam "year").Reverse }}

<!-- check that type of all publications are recognized -->
{{ $publications_with_invalid_type := (where .Data.Pages "Params.type" "not in" (slice "journal" "rconf" "uconf" "thesis" "preprint" "workshop" "thesis")) }}
{{ with $publications_with_invalid_type }}
{{ range . }}
{{ errorf "%s (%s)' type not recognized" .Title .File }}
{{ end }}
{{ end }}

{{ range $.Data.Pages }}
{{ if (isset .Params "link_to_pdf") }}
{{ errorf "link_to_pdf is legacy: %s" .File }}
{{ end }}

{{ if (isset .Params "link_to_site") }}
{{ errorf "link_to_site is legacy: %s" .File }}
{{ end }}

{{ if (isset .Params "link_to_code") }}
{{ errorf "link_to_code is legacy: %s" .File }}
{{ end }}

{{ if (isset .Params "journal_type") }}
{{ errorf "journal_type is legacy: %s" .File }}
{{ end }}

{{ end }}


<div class="tag_list">
    {{ with $articles }}
    <a class="button tag" href="#articles">Journal Articles</a>
    {{ end }}
    {{ with $rconfs }}
    <a class="button tag" href="#rconf">Refereed Conference Proceedings</a>
    {{ end }}
    {{ with $uconfs }}
    <a class="button tag" href="#uconf">Unrefereed Conference Proceedings</a>
    {{ end }}
    {{ with $preprints }}
    <a class="button tag" href="#preprints">Preprints</a>
    {{ end }}
    {{ with $workshops }}
    <a class="button tag" href="#workshops">Workshop Papers</a>
    {{ end }}
    {{ with $thesis }}
    <a class="button tag" href="#thesis">Thesis</a>
    {{ end }}
</div>


{{ with $articles }}
<h2 id="articles">Journal Articles</h2>
<div class="publication-flex-container">
{{ range  . }} 
{{ partial "list-item-publications" (dict "context" . "lab" $lab) }}
{{ end }}
</div>
<br>
<hr>
<br>
{{ end }}

{{ with $preprints }}
<h2 id="preprints">Preprints</h2>
<div class="publication-flex-container">
{{ range . }}
{{ partial "list-item-publications" (dict "context" . "lab" $lab) }}
{{ end }}
</div>
<br>
<hr>
<br>
{{ end }}

{{ with $rconfs }}
<h2 id="rconf">Refereed Conference Proceedings</h2>
<div class="publication-flex-container">
{{ range . }} 
{{ partial "list-item-publications" (dict "context" . "lab" $lab) }}
{{ end }}
</div>
<br>
<hr>
<br>
{{ end }}

{{ with $uconfs }}
<h2 id="uconf">Unrefereed Conference Proceedings</h2>
<div class="publication-flex-container">
{{ range . }} 
{{ partial "list-item-publications" (dict "context" . "lab" $lab) }}
{{ end }}
</div>
<br>
<hr>
<br>
{{ end }}


{{ with $workshops }}
<h2 id="workshops">Workshop Papers</h2>
<div class="publication-flex-container">
{{ range . }} 
{{ partial "list-item-publications" (dict "context" . "lab" $lab) }}
{{ end }}
</div>
<br>
<hr>
<br>
{{ end }}

{{ with $thesis }}
<h2 id="thesis">Thesis</h2>
<div class="publication-flex-container">
{{ range . }} 
{{ partial "list-item-publications" (dict "context" . "lab" $lab) }}
{{ end }}
</div>
<br>
<hr>
<br>
{{ end }}

{{ end }}
{{ partial "footer" . }}